<mat-card class="card">
  <mat-card-content>
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Endereço</mat-label>
          <input matInput formControlName="endereco" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Número</mat-label>
          <input matInput mask="0*" formControlName="numero" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>UF</mat-label>
          <input matInput formControlName="uf" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="cidade" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>CEP</mat-label>
            <input matInput  matInput mask="00000-000" formControlName="cep" />
          </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="bairro" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complemento" />
        </mat-form-field>
      </div></form></mat-card-content
></mat-card>
