<section class="footer">
  <div class="slogan-footer">
    <div class="slogan-ft">
      <img src="./assets/img/logoSemFundoPreto.png" alt="">
    </div>
    <div class="icons-midia">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter"></i>
    </div>
  </div>
  <section class="list-description">
    <div class="item-list">
      <Strong>Resource</Strong>
      <ul>
        <li>About Us</li>
        <li>Blog</li>
        <li>Contact</li>
        <li>FAQ</li>
      </ul>
    </div>
    <div class="item-list">
      <Strong>Legal Stuff</Strong>
      <ul>
        <li>Disclaimer</li>
        <li>Financing</li>
        <li>Pricaly Policy</li>
        <li>Terms of Service</li>
      </ul>
    </div>
    <div class="area-inscription">
      <strong>Knowing you're always on the best energy deal.</strong>
      <input type="text" class="input-description" />
      <a class="btn-inscription">Sign up Now</a>
    </div>
  </section>
</section>
