<section id="customer">
    <div id="img-customer">
      <img src="./assets/img/customer.svg" alt="customer" />
    </div>
    <div class="text-description">
      <strong>Easier decision making for</strong>
      <h3>Customer Support</h3>
      <p>
        The myspace page defines the individual, his ou her characteristics,
        traits, personal choice and the overall personality of the person.
      </p>
      <ul class="list-customer">
        <li>
          <span id="icons-check"
            ><i class="fas fa-check" id="check-yellow"></i
          ></span>
          <span class="li-text">
            Never warry about averpaying for your energy again.
          </span>
        </li>
        <li>
          <span id="icons-check"
            ><i class="fas fa-check" id="check-red"></i
          ></span>
          We will only switch you to energy companies that we trust and will
          treat you right.
        </li>
        <li>
          <span id="icons-check"
            ><i class="fas fa-check" id="check-blue"></i
          ></span>
          We track the markets daily and know where the saving are.
        </li>
      </ul>
    </div>
  </section>
