<section id="management">
    <div class="text-description">
      <strong>Effortless Validation For</strong>
      <h3>Management</h3>
      <p>
        The myspace page defines the individual, his ou her characteristics,
        traits, personal choice and the overall personality of the person.
      </p>
      <strong>Acessory makes</strong>
      <p>
        While most people enjoy casino gambling, sports betting, loterry and
        bingo playing of the fun.
      </p>
      <strong>Alterationists</strong>
      <p>
        If you are looking for a new way to promote your business that won't
        cost you more money.
      </p>
    </div>
    <div id="img-management">
      <img src="./assets/img/management.svg" alt="management" />
    </div>
  </section>