<div id="section-work">
  <div class="text-description">
    <h1>Work at the speed of thought</h1>
    <p id="Text-Work">
      Tools, tutorials, desing and innovation experts, all in one place! the
      most inutuitive way to imagine your next user experience.
    </p>
    <div id="btn-Work">
      <button id="btn-start">Get started</button>
      <button id="btn-play"><i class="fas fa-play"></i> Watch the video</button>
    </div>
  </div>
  <div id="img-work">
    <img src="./assets/img/amico.png" alt="work" />
  </div>
</div>
