<section id="product">
    <h2>Product was built spacifically for you</h2>
    <section class="all-products">
      <div class="products">
        <div id="icon-click">
          <i class="fas fa-mouse-pointer" id="icons"></i>
        </div>
        <strong>First click test</strong>
        <p>While most people enjoy casino gambling.</p>
      </div>
      <div class="products">
        <div id="icon-desing">
          <i class="fas fa-paint-brush" id="icons"></i>
        </div>
        <strong>Desing surveys</strong>
        <p>Sports betting, lottery and bingo playing for the fun.</p>
      </div>
      <div class="products">
        <div id="icon-preference">
          <i class="far fa-heart" id="icons"></i>
        </div>
        <strong>Desing surveys</strong>
        <p>
          Sports betting, lottery and<br />
          bingo playing for the fun.
        </p>
      </div>
      <div class="products">
        <div id="icon-second">
          <i class="fas fa-hourglass-half" id="icons"></i>
        </div>
        <strong>Desing surveys</strong>
        <p>Sports betting, lottery and bingo playing for the fun.</p>
      </div>
    </section>

    <button id="btn-product">SING UP NOW</button>