<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-2">
                <h1>Contato</h1>
            </div>
            <div class="col-md-7">
                <input type="text" placeholder="Pesquise pelo nome" class="form-control form-control-sm">
            </div>
            <div class="col-md-3 text-end">
                <button class="btn btn-success btn-mobile" (click)="adicionarContato()">
                    <i class="bi bi-plus-lg"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <!--AQUI VAI VIR UM NGFOR PARA OS CADASTROS DE CLIENTE-->
        <div class="row">
            <div class="col-md-3 col-12">
                <app-card-contatos></app-card-contatos>
            </div>
            <div class="col-md-3 col-12">
                <app-card-contatos></app-card-contatos>
            </div>
            <div class="col-md-3 col-12">
                <app-card-contatos></app-card-contatos>
            </div>
            <div class="col-md-3 col-12">
                <app-card-contatos></app-card-contatos>
            </div>
            <div class="col-md-3 col-12">
                <app-card-contatos></app-card-contatos>
            </div>
        </div>
    </div>
</div>


