<nav class="navbar bg-header">
    <div class="container-fluid">
        <div class="col-12">
            <div class="row">
                <div class="col-md-3 align-center">
                     <img src="./assets/img/300.png" alt="">
                     <button class="btn btn-sm btn-outline text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                        <i class="bi bi-list"></i>
                     </button>
                </div>
                <div class="col-md-9 align-self-center text-end">
                    <div class="btn-group dropdown-center">
                        <button type="button" class="btn text-white dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                          <i class="bi bi-gear"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                          <li><a class="dropdown-item" routerLink="/user/login"><i class="bi bi-person"></i>Sair</a></li>
                        </ul>
                      </div>
                </div>
               </div>
        </div>
    </div>
  </nav>

