<mat-card class="example-card shadow border">
  <mat-card-header>
    <mat-card-title class="f-bold">Jhonatan W Faelis</mat-card-title>
    <mat-card-subtitle>Lead quente</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <span><i class="bi bi-phone"></i></span>
      <span> (19) 99926-5677</span>
    </div>
    <div>
      <span><i class="bi bi-envelope"></i></span>
      <span> jhonatanFaelis@gmail.com</span>
    </div>
    <div>
      <span>13/07/1995</span>
    </div>
    <div>
      <span>R$ 3.500,00</span>
    </div>
  </mat-card-content>
  <mat-card-actions class="justify-content-end border gap-1">
    <button mat-button class="btn-alterar"><i class="bi bi-pencil-square"></i></button>
    <button mat-button class="btn-expandir"><i class="bi bi-card-list"></i></button>
    <button mat-button class="btn-excluir"><i class="bi bi-trash3"></i></button>
  </mat-card-actions>
</mat-card>
