


<div class="card shadow-sm mb-5 rounded">
  <div class="card-header">
    <span class="fw-bold">
      Jhonatan W Faelis
    </span>
  </div>
  <div class="card-body">
    <div>
      <span><i class="bi bi-phone"></i></span>
      <span> (19) 99926-5677</span>
    </div>
    <div>
      <span><i class="bi bi-envelope"></i></span>
      <span> jhonatanFaelis@gmail.com</span>
    </div>
    <div>
      <span>13/07/1995</span>
    </div>
    <div>
      <span>R$ 3.500,00</span>
    </div>
  </div>
  <div class="card-footer text-end">
    <button class="btn btn-sm  btn-alterar btn-mobile"><i class="bi bi-pencil-square"></i></button>
    <button class="btn btn-sm  btn-expandir btn-mobile"><i class="bi bi-card-list"></i></button>
    <button class="btn btn-sm  btn-excluir btn-mobile"><i class="bi bi-trash3"></i></button>
  </div>
</div>