<div class="body">
  <app-header-home class="mt-2"></app-header-home>
  <app-resume-work-home></app-resume-work-home>
  <app-products-home></app-products-home>
  <app-management-home></app-management-home>
  <app-customer-home></app-customer-home>
  <app-collaborative-home></app-collaborative-home>
  <app-conversation-home></app-conversation-home>
  <app-contents-strategies-home></app-contents-strategies-home>
  <app-price-plans-home></app-price-plans-home>
  <app-feedback-users-home></app-feedback-users-home>
  <app-graphic-home></app-graphic-home>
  <app-footer-home></app-footer-home>
</div>
