<div class="header">
  <nav class="menu-nav" id="menu-nav">
    <div class="div-title">
      <img src="./assets/img/logo-preto-branco.jpeg" alt="">
    </div>
    <div id="links">
      <ol>
        <li>
          <a href="" class="links-nav">Product</a>
        </li>
        <li>
          <a href="" class="links-nav">Customers</a>
        </li>
        <li>
          <a href="" class="links-nav">Pricing</a>
        </li>
        <li>
          <a href="" class="links-nav">Resources</a>
        </li>
      </ol>
    </div>
    <div id="group-bottons">
      <button class="login">Sign In</button>
      <button class="created">Sign Up</button>
    </div>

    <button id="menu-checkbox">
      <i class="fas fa-list-ul"></i>
    </button>
  </nav>
</div>
