/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



ul li{
    list-style: none;
}

.btn-novo{
    background-color: red;
}

.btn_add{
    background-color: green !important;
    border-radius: 25% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.btn_add mat-icon{
    color: white;
    font-size: 1.5rem;
}


@media screen and (max-width: 600px) {
    .btn-mobile {
      width: 100% !important;
      margin-top: 3px;
    }
  }

