:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container_principal{
    height: 100vh;
}

mat-drawer{
    width: 20rem;
    
    border-radius: 0.2rem;
    color: black;
}

.sidebar{
    height: 100%;
    background-color: #f0ebeb;
}

mat-drawer-content{
    padding: 1.5rem;
    
    
}

mat-divider{
    color: black;
}




