<section class="client-section">
    <h1>What Clients Say</h1>
    <p>Poblems tryng to resolve the conflict between the two major realms of classical physics: Newtonian mechanics</p>
    <div class="section-comented">
      <div class='comented'> 
        <ul>
          <li><i class="fas fa-star icon-star"></i></li>
          <li><i class="fas fa-star icon-star"></i></li>
          <li><i class="fas fa-star icon-star"></i></li>
          <li><i class="fas fa-star icon-star"></i></li>
          <li><i class="far fa-star icon-star"></i></li>
        </ul>
        <p>Product helps you see how many more days you need to work to reach your financial goal.</p>
        <div class="desing-author">
        <img src="./assets/img/persons/designer1.svg" alt="designer1" />
        <div class="info-desing">
          <strong>Wahid Ari</strong>
          <p>Desingner</p>
        </div>
        </div>
      </div>
        <div class='comented'>
          <ul>
            <li><i class="fas fa-star icon-star"></i></li>
           <li><i class="fas fa-star icon-star"></i></li>
          <li><i class="fas fa-star icon-star "></i></li>
          <li><i class="fas fa-star icon-star "></i></li>
          <li><i class="far fa-star icon-star"></i></li>
        </ul>
        <p>Product helps you see how many more days you need to work to reach your financial goal.</p>
        <div class="desing-author">
        <img src="./assets/img/persons/designer2.svg" alt="designer2" />
        <div class="info-desing">
          <strong>Wahid Ari</strong>
          <p>Desingner</p>
        </div>
        </div>
         </div>
         <div class='comented'> 
          <ul>
            <li><i class="fas fa-star icon-star"></i></li>
            <li><i class="fas fa-star icon-star"></i></li>
            <li><i class="fas fa-star icon-star"></i></li>
            <li><i class="fas fa-star icon-star"></i></li>
            <li><i class="far fa-star icon-star"></i></li>
          </ul>
          <p>Product helps you see how many more days you need to work to reach your financial goal.</p>
          <div class="desing-author">
          <img src="./assets/img/persons/designer3.svg" alt="designer3" />
          <div class="info-desing">
            <strong>Wahid Ari</strong>
            <p>Desingner</p>
          </div>
          </div>
        </div>
      
      </div>
  </section>