<section id="collaborative">
    <div class="text-description">
      <strong>Optimisation for</strong>
      <h3>Collaborative</h3>
      <p>
        Few would argue that, despite the advancements of feminism over the
        past three decades, women still face a double standard when it comes
        to their behavior.
      </p>
      <strong>Acessory makes</strong>
      <p>
        While most people enjoy casino gambling, sports betting, loterry and
        bingo playing of the fun.
      </p>
      <strong>Alterationists</strong>
      <p>
        If you are looking for a new way to promote your business that won't
        cost you more money.
      </p>
    </div>
    <div id="img-collaborative">
      <img src="./assets/img/collaborative.svg" alt="collaborative" />
    </div>
  </section>
