<section class="all-prices">
  <h2>Price Table</h2>
  <p>We offer competitive price</p>
  <div class="price-list">
    <div class="prices">
      <h3>Plano Starter</h3>
      <p class="text-prices">Para PESSOAS com metas SMART que buscam organizar processos, follow-ups e resultados.</p>
      <div class="price-number">
        <span>79,90</span>
        <div class="data-price">
          <Strong>R$</Strong>
          <p>Por mês</p>
        </div>
      </div>
      <div class="list-advantage margin_aux">
        <ul>
          <li>1 Usuário</li>
          <li>Funil de Vendas</li>
          <li>Relatórios Gerenciais do CRM</li>
          <li>Contatos - Ilimitados</li>
          <li>Imóveis - 500</li>
          <li>Agenda</li>
        </ul>
      </div>
      <div class="btn-price">
        <a>Assinar Agora</a>
      </div>
    </div>
    <div class="prices2">
      <h3>Plano Smart</h3>
      <p class="text-prices">Para TIMES com metas SMART que buscam organizar processos, follow-ups e resultados.</p>
      <div class="price-number2">
        <span>349,90</span>
        <div class="data-price2">
          <Strong>R$</Strong>
          <p>Por mês</p>
        </div>
      </div>
      <div class="list-advantage">
        <ul>
          <ul>
            <li>5 Usuário</li>
            <li>Funil de Vendas</li>
            <li>Relatórios Gerênciais do CRM</li>
            <li>Contatos - Ilimitados</li>
            <li>Imóveis - Ilimitados</li>
            <li>Agenda</li>
            <li>Assinatura Eletrônica</li>
          </ul>
        </ul>
      </div>
      <div class="btn-price2">
        <a>Assinar Agora</a>
      </div>
    </div>
    <div class="prices">
      <h3>Plano Premium</h3>
      <p class="text-prices">Para TIMES que buscam aumentar eficiência, performance e previsibilidade com as melhores estrategias.</p>
      <div class="price-number3">
        <span>539,90</span>
        <div class="data-price">
          <Strong>R$</Strong>
          <p>Por mês</p>
        </div>
      </div>
      <div class="list-advantage">
        <ul>
          <ul>
            <li>12 Usuário</li>
            <li>Funil de Vendas</li>
            <li>Relatórios Gerênciais do CRM</li>
            <li>Contatos - Ilimitados</li>
            <li>Imóveis - Ilimitados</li>
            <li>Agenda</li>
            <li>Assinatura Eletrônica</li>
          </ul>
        </ul>
      </div>
      <div class="btn-price">
        <a>Assinar Agora</a>
      </div>
    </div>
  </div>
</section>
