<section class="all-prices">
  <h2>Price Table</h2>
  <p>We offer competitive price</p>
  <div class="price-list">
    <div class="prices">
      <h3>Free</h3>
      <p>Brief price description</p>
      <div class="price-number">
        <span>0</span>
        <div class="data-price">
          <Strong>$</Strong>
          <p>Per /month</p>
        </div>
      </div>
      <div class="list-advantage">
        <ul>
          <li>Only 2 Operators</li>
          <li>Notifications</li>
          <li>Landing Pages</li>
        </ul>
      </div>
      <div class="btn-price">
        <a>Order Now</a>
      </div>
    </div>
    <div class="prices2">
      <h3>Standard</h3>
      <p>Brief price description</p>
      <div class="price-number2">
        <span> 5</span>
        <div class="data-price2">
          <Strong>$</Strong>
          <p>Per /month</p>
        </div>
      </div>
      <div class="list-advantage">
        <ul>
          <li>5+ operators</li>
          <li>Notifications</li>
          <li>Landing Pages</li>
        </ul>
      </div>
      <div class="btn-price2">
        <a>Order Now</a>
      </div>
    </div>
    <div class="prices">
      <h3>Premium</h3>
      <p>Brief price description</p>
      <div class="price-number3">
        <span> 10</span>
        <div class="data-price">
          <Strong>$</Strong>
          <p>Per /month</p>
        </div>
      </div>
      <div class="list-advantage">
        <ul>
          <li>10+ operators</li>
          <li>Notifications</li>
          <li>Landing Pages</li>
        </ul>
      </div>
      <div class="btn-price">
        <a>Order Now</a>
      </div>
    </div>
  </div>
</section>
