<mat-nav-list>
    <!-- FAZE UM COMPONENTE PARA ESSA PARTE -->
    <div class="perfil-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1cX9dpf4lfvlGU-tulb3WIuHp9y9MoDM8exYT2YTqlw&s" alt="">
        <div class="header">
            <h2>Momo Pistola</h2>
            <h3>Coordenador</h3>
            <h4>email@email.com</h4>
        </div>
        
    </div>
   
    <mat-divider></mat-divider>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard"> <mat-icon>insert_chart</mat-icon>Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard"> <mat-icon>home</mat-icon>Imóveis</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="contatos"><mat-icon>person</mat-icon>Contatos</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="contatos"><mat-icon>event</mat-icon>Atendimentos</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="contatos"><mat-icon>check</mat-icon>Tarefas</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="contatos"><mat-icon>web</mat-icon>Portais</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="contatos"><mat-icon>dashboard</mat-icon>Relatórios</a>
    
    
    <mat-divider></mat-divider>
    
</mat-nav-list>

