<mat-nav-list>
    <div class="perfil-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1cX9dpf4lfvlGU-tulb3WIuHp9y9MoDM8exYT2YTqlw&s" alt="">
        <div class="header">
            <h2>Momo Pistola</h2>
            <h3>Coordenador</h3>
            <h4>email@email.com</h4>
        </div>
        
    </div>
   
    <mat-divider></mat-divider>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">      
        Principal
    </a> 
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">post</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/cadastroCliente">Cadastro Cliente</a>
    
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Ferramentas</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contato">
        <mat-icon>import_contacts</mat-icon>
        Contatos
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contato">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>
</mat-nav-list>

